<!DOCTYPE html>
<html>
<body>

<h1>Search for your courses:</h1>

<br>
<div align=center>
  <%= form_tag("search", method: "get", id:'search') do %>
  Subject:
  <%= select_tag "selection",options_for_select(Subject.all.collect{ |s| [s.name]}) %>
  <br>
  <br>
  Courses:
  <%= text_field_tag(:terms) %>
  <%= submit_tag "Search", name:"searchbtn" %>
  <% end %>
</div>

<%if params[:searchbtn]%>
<%if @results.length > 0 %>
<h1 align=center>Search Result</h1>

  <% @results.each do |course| %>
    <%= course.id %>  <%= course.name %>
    <%= button_to 'Enroll',{:controller=>"cata",:action=>"enroll",:coursename=>course.name},:method=>:post%>
  <% end %>

<% else %>


  <p>no course found that matches your query!</p>
<% end %>
<% end%>

</body>
</html>
